body, html {
	font-family: Roboto;
	font-size: 13px;
	background: $white;
	width: 100%;
	height: 100%}

// Style selected text.
::selection {
	color: $black;
	background: $accent1;
}

body::-webkit-scrollbar-thumb{
	background-color: black;
}

body::-webkit-scrollbar{
	background-color: black;
}