.first_section__action_switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.first_section__action_switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $nasaRed;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $nasaRed;
}

input:focus + .slider {
  box-shadow: 0 0 1px $nasaBlue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.header__holder__button{
  flex: 1;

}


.holder__toggleSwitch__text{
  color: white;
}





.toggleSwitch{

  flex-grow: 0;
  flex-shrink: 0;

}





.toggleSwitch {

  position: relative;
  display: inline-block;

  height: 17px;
}

.toggleSwitch .checkbox {display:none;}

.slidertoggle {
  width: 33px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slidertoggle:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.checkbox:checked + .slidertoggle {
  background-color: #2196F3;
}



.checkbox:focus + .slidertoggle {
  box-shadow: 0 0 1px #2196F3;
}
.checkbox:checked + .slidertoggle:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slidertoggle.roundtoggle {
  border-radius: 34px;
}

.slidertoggle.roundtoggle:before {
  border-radius: 50%;
}
